extends layout.pug

block content
    h2 Welcome to our blog

    div
        a(href="/posts") View posts

    div
        a(href="/users/login") Log in

    div
        a(href="/users/login") Register