

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Blog Posts
    body
        a(href="/posts/new") Create post

        each post in posts
            - var postHref = '/posts/' + post.id
            h2
                a(href=postHref)= post.title