extends ../layout.pug

block content
    form(action="/posts/new", method="POST", enctype="application/json")
        div
            label(for="title") Please enter a title
            input(name="title")
        div
            label(for="body") Please enter a body
            textarea(name="body", cols="30", rows="10")

        div
            button(type="submit") Save