extends ../layout.pug

block content
    h2= post.title
    h3 The post is by user: 
        = post.author.username
    div= post.body

    - var addCommentToPostUrl = "/posts/" + post._id + "/comment"
    if user
        form(action=addCommentToPostUrl, method="post")
            label(for="body") Leave a comment
            textarea#body(name="body", cols="30", rows="10")
            button(type="submit") Save

    each comment in comments
        div= comment.body
        div by 
            =comment.author.username